<app-nav-bar></app-nav-bar>
<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-2">
            <h5>COMPUTADORAS</h5>
        </div>
        <div class="input-group col-sm-5">
            <input class="form-control py-2" type="search" placeholder="buscar" id="example-search-input">
            <span class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">BUSCAR</button>
      </span>
        </div>
        <div class="col-sm-2"></div>
    </div>

</div>

<br>

<dt>
    <div class="row container-fluid centrar">
      <div class="col-sm-1 border">Nombre</div>
      <div class="col-sm-1 border">Tipo</div>
      <div class="col-sm-2 border">Fabricante</div>
      <div class="col-sm-2 border">Modelo</div>
      <div class="col-sm-1 border">N°Serie</div>
      <div class="col-sm-1 border">N°Inventario</div>
      <div class="col-sm-2 border">Localizacion</div>
      <div class="col-sm-1 border">Estado</div>
      <div class="col-sm-2 border">Adquision</div>
      <div class="col-sm-2 border">Proveedor</div>
      <div class="col-sm-2 border">Mantenimiento</div>
      <div class="col-sm-2 border">Actualizacion</div>
      <div class="col-sm-2 border">Empleado</div>
      <div class="col-sm-2 border">Comentario</div>
    </div>
</dt>

<div class="row container-fluid centrar" *ngFor="let computadora of computadoras">
    <div class="col-sm-1 border">{{computadora.nombreItem}}</div>
    <div class="col-sm-1 border">{{computadora.tipo}}</div>
    <div class="col-sm-2 border">{{computadora.fabricante}}</div>
  <div class="col-sm-2 border">{{computadora.modelo}}</div>
    <div class="col-sm-1 border">{{computadora.numeroSerie}}</div>
  <div class="col-sm-2 border">{{computadora.numeroInventario}}</div>
  <div class="col-sm-2 border">{{computadora.localizacion}}</div>
    <div class="col-sm-2 border">{{computadora.estado}}</div>
    <div class="col-sm-2 border">{{computadora.anioAdquisicion}}</div>
    <div class="col-sm-1 border">{{computadora.proveedor}}</div>
    <div class="col-sm-2 border">{{computadora.ultimoMantenimiento}}</div>
    <div class="col-sm-2 border">{{computadora.ultimaActualizacion}}</div>
    <div class="col-sm-2 border">{{computadora.empleado}}</div>
    <div class="col-sm-2 border">{{computadora.comentario}}</div>
  </div>

<br>
<div class="row">
    <div class="col-sm-10"></div>
    <div class="col-sm-2">
        <button type="button" class="btn btn-outline-primary" routerLink="/ingresar-compu">Añadir</button>
    </div>
</div>
