<app-nav-bar></app-nav-bar>
<div class="container">
  <div class="row centrar">
    <h2> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;INGRESAR IMPRESORA</h2>
    <!--1-->
    <div class="col-sm-2"></div>
    <div class="col-sm-10"></div>
    <div class="input-group mb-2 col-sm-4">
      <div class="input-group-prepend">
        <span class="input-group-text mb-3" id="nombreImpresora">Nombre</span>
      </div>
      <input type="text" class="form-control" placeholder=" " [(ngModel)]="nombreImpresora">
    </div>
    <div class="col-sm-2"></div>
    <div class="input-group mb-4 col-sm-4">
      <div class="input-group-prepend">
        <label class="input-group-text" for="tipoImpresora">Tipo</label>
      </div>
      <select class="custom-select" id="tipoImpresora" [(ngModel)]="tipoImpresora">
        <option selected>Elegir...</option>
        <option value="1">LCD</option>
        <option value="2">DLC</option>
      </select>
    </div>

    <!--2-->
    <div class="col-sm-2"></div>
    <div class="col-sm-10"></div>
    <div class="input-group mb-2 col-sm-4">
      <div class="input-group-prepend">
        <span class="input-group-text mb-3" id="fabricanteImpresora">Fabricante</span>
      </div>
      <input type="text" class="form-control" placeholder=" " [(ngModel)]="fabricanteImpresora">
    </div>
    <div class="col-sm-2"></div>
    <div class="input-group mb-2 col-sm-4">
      <div class="input-group-prepend">
        <span class="input-group-text mb-3" id="modeloImpresora">Modelo</span>
      </div>
      <input type="text" class="form-control" placeholder=" " [(ngModel)]="modeloImpresora">
    </div>

    <!--3-->
    <div class="col-sm-2"></div>
    <div class="col-sm-10"></div>
    <div class="input-group mb-1 col-sm-5">
      <div class="input-group-prepend">
        <span class="input-group-text mb-3" id="numeroSerieImpresora">Nº Serie</span>
      </div>
      <input type="text" class="form-control" placeholder=" " [(ngModel)]="numeroSerieImpresora">
    </div>
    <div class="col-sm-1"></div>
    <div class="input-group mb-1 col-sm-5">
      <div class="input-group-prepend">
        <span class="input-group-text mb-3" id="numeroInventarioImpresora">Nº Inventario</span>
      </div>
      <input type="text" class="form-control" placeholder=" " [(ngModel)]="numeroInventarioImpresora">
    </div>

    <!--4-->
    <div class="col-sm-2"></div>
    <div class="col-sm-10"></div>
    <div class="input-group mb-1 col-sm-5">
      <div class="input-group-prepend">
        <span class="input-group-text mb-3" id="localizacionImpresora">Localizacion</span>
      </div>
      <input type="text" class="form-control" placeholder=" " [(ngModel)]="localizacionImpresora">
    </div>
    <div class="col-sm-1"></div>
    <div class="input-group mb-4 col-sm-4">
      <div class="input-group-prepend">
        <label class="input-group-text" for="estadoImpresora">Estado</label>
      </div>
      <select class="custom-select" id="estadoImpresora" [(ngModel)]="estadoImpresora">
        <option selected>Elegir...</option>
        <option value="1">Activo</option>
        <option value="2">Baja</option>
      </select>
    </div>

    <!--4-->
    <div class="col-sm-2"></div>
    <div class="col-sm-10"></div>
    <div class="input-group mb-1 col-sm-5">
      <div class="input-group-prepend">
        <span class="input-group-text mb-3" id="adquisicionImpresora">Adquisicion</span>
      </div>
      <input type="text" class="form-control" placeholder=" " [(ngModel)]="adquisicionImpresora">
    </div>
    <div class="col-sm-2"></div>
    <div class="input-group mb-1 col-sm-5">
      <div class="input-group-prepend">
        <span class="input-group-text mb-3" id="proveedorImpresora">Proveedor</span>
      </div>
      <input type="text" class="form-control" placeholder=" " [(ngModel)]="proveedorImpresora">
    </div>

    <!--5-->
    <div class="col-sm-2"></div>
    <div class="col-sm-10"></div>
    <div class="input-group mb-1 col-sm-5">
      <div class="input-group-prepend">
        <span class="input-group-text mb-3" id="ultimoMantenimientoImpresora">Ultimo Mantenimiento</span>
      </div>
      <input type="text" class="form-control" placeholder=" " [(ngModel)]="ultimoMantenimientoImpresora">
    </div>
    <div class="col-sm-1"></div>
    <div class="input-group mb-1 col-sm-5">
      <div class="input-group-prepend">
        <span class="input-group-text mb-3" id="empleadoImpresora">Empleado</span>
      </div>
      <input type="text" class="form-control" placeholder=" " [(ngModel)]="empleadoImpresora">
    </div>

    <!--4-->
    <div class="col-sm-2"></div>
    <div class="col-sm-10"></div>
    <div class="input-group mb-1 col-sm-5">
      <div class="input-group-prepend">
        <span class="input-group-text mb-3" id="comentarioImpresora">Comentario</span>
      </div>
      <input type="text" class="form-control" placeholder=" " [(ngModel)]="comentarioImpresora">
    </div>
    <div class="col-sm-1"></div>


    <div class="col-sm-2"></div>
    <button type="button" class="btn btn-primary btn-lg btn-block mb-2 col-sm-5" (click)="guardar()">GUARDAR</button>


    <div class="col-sm-2"></div>
    <button type="button" class="btn btn-secondary btn-lg btn-block mb-2 col-sm-5" routerLink="/mostrar-impresora">CANCELAR</button>

  </div>

</div>
