<app-nav-bar></app-nav-bar>
<div class="container">
    <div class="row centrar">
        <h2> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;INGRESAR COMPUTADORA</h2>
        <div class="col-sm-2"></div>
        <div class="col-sm-10"></div>
        <div class="input-group mb-1 col-sm-5">
            <div class="input-group-prepend">
                <span class="input-group-text mb-3" id="basic-addon1">Nombre</span>
            </div>
            <input type="text" class="form-control" placeholder="Ejemplo: Danilo Angamarca" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="col-sm-1"></div>
        <div class="input-group mb-1 col-sm-5">
            <div class="input-group-prepend">
                <span class="input-group-text mb-3" id="basic-addon1">Año de adquisicion</span>
            </div>
            <input type="text" class="form-control" placeholder=" " aria-label="Username" aria-describedby="basic-addon1">
        </div>

        <div class="col-sm-2"></div>
        <div class="col-sm-10"></div>
        <div class="input-group mb-3 col-sm-4">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Tipo</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01">
                <option selected>Elegir...</option>
                <option value="1">Laptop</option>
                <option value="2">Desktop</option>
            </select>
        </div>
        <div class="col-sm-2"></div>
        <div class="input-group mb-3 col-sm-4">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Proveedor</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01">
                <option selected>Elegir...</option>
                <option value="1">TecnoMega</option>
                <option value="2">XP Mayoristas</option>
                <option value="3">InterTelnet</option>
            </select>
        </div>



        <div class="col-sm-2"></div>
        <div class="col-sm-10"></div>
        <div class="input-group mb-4 col-sm-4">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Fabricante</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01">
                <option selected>Elegir...</option>
                <option value="1">HP</option>
                <option value="2">DELL</option>
                <option value="3">ASUS</option>
            </select>
        </div>
        <div class="col-sm-2"></div>
        <div class="input-group mb-2 col-sm-4">
            <div class="input-group-prepend">
                <span class="input-group-text mb-3" id="basic-addon1">Ultimo Mantenimiento</span>
            </div>
            <input type="text" class="form-control" placeholder="dd-mm-AA" aria-label="Username" aria-describedby="basic-addon1">
        </div>



        <div class="col-sm-2"></div>
        <div class="col-sm-10"></div>
        <div class="input-group mb-1 col-sm-5">
            <div class="input-group-prepend">
                <span class="input-group-text mb-3" id="basic-addon1">Modelo</span>
            </div>
            <input type="text" class="form-control" placeholder=" " aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="col-sm-1"></div>
        <div class="input-group mb-1 col-sm-4">
            <div class="input-group-prepend">
                <span class="input-group-text mb-3" id="basic-addon1">Ultima Actualizacion</span>
            </div>
            <input type="text" class="form-control" placeholder="dd-mm-AA" aria-label="Username" aria-describedby="basic-addon1">
        </div>

        <div class="col-sm-2"></div>
        <div class="col-sm-10"></div>
        <div class="input-group mb-2 col-sm-4">
            <div class="input-group-prepend">
                <span class="input-group-text mb-3" id="basic-addon1">N° de Serie</span>
            </div>
            <input type="text" class="form-control" placeholder=" " aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="col-sm-2"></div>
        <div class="input-group mb-4 col-sm-4">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Usuario</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01">
                <option selected>Elegir...</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>


        <div class="col-sm-2"></div>
        <div class="col-sm-10"></div>
        <div class="input-group mb-3 col-sm-5">
            <div class="input-group-prepend">
                <span class="input-group-text mb-3" id="basic-addon1">N° de inventario</span>
            </div>
            <input type="text" class="form-control" placeholder=" " aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="col-sm-1"></div>
        <div class="input-group mb-2 col-sm-5">
            <div class="input-group-prepend">
                <span class="input-group-text">Comentario</span>
            </div>
            <textarea class="form-control" aria-label="With textarea"></textarea>
        </div>


        <div class="col-sm-2"></div>
        <div class="col-sm-10"></div>
        <div class="input-group mb-4 col-sm-4">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Localizacion</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01">
                <option selected>Elegir...</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <div class="col-sm-2"></div>
        <button type="button" class="btn btn-primary btn-lg btn-block mb-2 col-sm-5">GUARDAR</button>

        <div class="col-sm-2"></div>
        <div class="col-sm-10"></div>
        <div class="input-group mb-4 col-sm-4">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Estado</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01">
                <option selected>Elegir...</option>
                <option value="1">Activo</option>
                <option value="2">En espera</option>
                <option value="3">De Baja</option>
            </select>
        </div>
        <div class="col-sm-2"></div>
        <button type="button" class="btn btn-secondary btn-lg btn-block mb-2 col-sm-5">CANCELAR</button>

    </div>

</div>
